<div class="sidebar-container">
  <div class="user-profile" *ngIf="!loading; else loadingTemplate">
    <img src="assets/images/avatar.png" alt="User Photo" class="profile-photo" />
    <h3>Hello! {{ userName }}</h3>
    <p>{{ userEmail }}</p>
  </div>

  <ng-template #loadingTemplate>
    <p>Loading...</p>
  </ng-template>

  <nav class="nav-links">
    <ul>
      <li>
        <a routerLink="/dashboard" routerLinkActive="active">
          <span class="icon material-icons">dashboard</span>
          Dashboard
        </a>
      </li>
      <li>
        <a routerLink="/profile" routerLinkActive="active">
          <span class="icon material-icons">person</span>
          Your Profile
        </a>
      </li>
      <li>
        <a routerLink="/recipes" routerLinkActive="active">
          <span class="icon material-icons">receipt_long</span>
          Recipes
        </a>
      </li>
      <li>
        <a routerLink="/plans" routerLinkActive="active">
          <span class="icon material-icons">calendar_today</span>
          Plans
        </a>
      </li>
      <li>
        <a routerLink="/users" routerLinkActive="active">
          <span class="icon material-icons">group</span>
          Users
        </a>
      </li>
    </ul>
  </nav>
  <div class="logout">
    <a class="logout-button" (click)="logout()">
      <span class="icon material-icons">logout</span>
      Log out
    </a>
  </div>
</div>
