<div class="profile-container">
    <app-sidebar></app-sidebar>
    <div class="profile-content">
      <div class="header-container">
        <h1>User Personal Informations</h1>
    </div>
    <div class="profile-card">
        <button class="save-button">+ Save</button>
        <div class="profile-photo-container">
            <img src="assets/images/avatar.png" alt="User Photo" class="profile-photo" />
            <h2>John Lane</h2>
            <p class="username">ohnlane123</p>
        </div>
        <div class="user-info">
            <ul>
              <li><span class="label">Email:</span> <span class="value">johnlane123gmail.com</span></li>
              <li><span class="label">Phone:</span> <span class="value">+1 123 456 7890</span></li>
              <li><span class="label">Gender:</span> <span class="value">Male</span></li>
              <li><span class="label">Date of Birth:</span> <span class="value">June 21, 1989</span></li>
            </ul>
        </div>
      </div>
    </div>
</div>
